body {
  background-color: #22272e;
  overflow: hidden;
}

.page {
  height: 100vh;
  margin-top: 10%;
  display: flex;
  justify-content: center;
  gap: 50px;
}

button {
  height: 100px;
  width: 300px;
  font-size: medium;
  font-weight: 700;
  cursor: pointer;
}
